@font-face {
	font-family: "DINN-Next-LTP-Pro-bold";
	src: url(../fonts/DINNextLTPro-Bold.ttf);
}

@font-face {
	font-family: "DINN-Next-LTP-Pro-light";
	src: url(../fonts/DINNextLTPro-Light.ttf);
}

@font-face {
	font-family: "DINN-Next-LTP-Pro-medium";
	src: url(../fonts/DINNextLTPro-Medium.ttf);
}

@font-face {
	font-family: "DINN-Next-LTP-Pro-regular";
	src: url(../fonts/DINNextLTPro-Regular.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	scroll-behavior: smooth;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
	--purple-light: #781E77;
    --purple-dark: #661365;
    --white: #FFFFFF;
	--grey: rgba(112, 112, 112, 0.05);
	--light-pink: rgba(254, 233, 185, 0.6);
    --light-green: #91C349;
	--yellow: #FDB515;
	--orange-light:#fef2d6;
    --space-text: 20px;
	--space-xp: 5px;
	--space-p: 15px;
	--space-m: 30px;
	--space-g: 40px;
	--space-x: 60px;
    --space-xx: 90px;
    --radius-button: 26px;
    --radius-xp: 5px;
	--container: 1130px;
	--dinn-bold: 'DINN-Next-LTP-Pro-bold';
	--dinn-light: 'DINN-Next-LTP-Pro-light';
	--dinn-medium: 'DINN-Next-LTP-Pro-medium';
	--dinn-regular: 'DINN-Next-LTP-Pro-regular';
	--font-xx: 36px;
    --font-x: 24px;
	--font-g: 18px;
	--font-m: 16px;
	--font-p: 14px;
    --font-xp: 12px;
	--btn-pad: 14px 40px;
	--transitionFast: all 500ms;
	--min-lh: 1.3em;
	--medium-lh: 1.5em;
}

::-webkit-scrollbar {
	width: 12px; 
	background-color: var(--purple-light); 
  }
  ::-webkit-scrollbar-thumb {
	background-color: var(--white);
	border-radius: 10px;

  }
  ::-webkit-scrollbar-thumb:hover {
	background-color: var(--light-green); 
	border-radius: 10px;
  }

@media (max-width: 1600px) {
	:root {
		--container: calc(100% - 120px)
	}
}

@media (max-width: 1024px) {
	:root {
		--space-xp: 5px;
        --space-p: 20px;
        --space-m: 40px;
        --space-g: 40px;
        --space-x: 60px;
        --space-xx: 90px;
		--container: 100%;
		--font-xx: 26px;
		--font-x: 21px;
		--font-g: 18px;
		--font-m: 16px;
		--font-p: 14px;
		--font-xp: 12px;
	}
}

.container{
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
}

.video-wrapper{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	border-radius: var(--radius-xp);
}

iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body.activeLoader,
body.modalMobileActive{
	overflow: hidden;
}

.loader{
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: #781E77;
	z-index: 10;
	position: relative;
}

.loader img{
	width: 100px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* HEADER */
/* BEGINING */
header{
	background-color: var(--purple-light);
	padding: var(--space-m) 0px;
	width: 100%;
}

header .hamb {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	margin-top: 2px;
}

header .hamb-background {
	float: left;
	transition: var(--transitionFast);
	margin-top: 35px;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	height: 51px;
	width: 51px;
	left: -6px;
	position: absolute;
	top: -1000px;
}

.modalMobileActive .hamb-background{
	padding: 14px 13px;
}

header .hamb span {
	position: absolute;
	background-color: var(--white);
	border-radius: 2px;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	height: 2.5px;
	width: 100%;
	transition: 0.25s ease-in-out;
}

header .hamb span:nth-child(1) {
	top: 0px;
}

header .hamb span:nth-child(2) {
	top: 12px;
}

.modalMobileActive header .hamb span:nth-child(3) {
	transform: rotate(45deg);
	top: 8px;
}

.modalMobileActive header .hamb span:nth-child(1) {
	transform: rotate(-45deg);
	top: 8px;
}

.modalMobileActive header .hamb span:nth-child(2) {
	opacity: 0;
}

header .hamb span:nth-child(3) {
	top: 24px;
}

.menuActive header.menuFloated {
    position: fixed;
    top: 0px;
	z-index: 3;
    border-bottom: 1px solid var(--purple-dark);
}

header.menuFloated .mobile-version{
	display: none;
}

header.menuFloated,
.modalMenuMobile{
	position: fixed;
	top: -1000px;
	transition: var(--transitionFast);
}

header.menuFloated{
	position: fixed;
	top: -1000px;
	transition: var(--transitionFast);
}

header nav{
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
}

header .register-logo{
	float: right;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: right;
}

header .register-logo a:nth-child(1){
	display: inline-block;
	text-decoration: none;
	padding: var(--btn-pad);
	font-family: var(--dinn-medium);
	font-size: var(--font-m);
	transition: var(--transitionFast);
	border-radius: var(--radius-button);
	border: 2px solid var(--light-green);
	color: white;
	background-color: var(--light-green);
	position: relative;
	left: 67px;
}

div.btn-report a{
	display: inline-block;
	text-decoration: none;
	color: var(--white);
	background-color: var(--light-green);
	border: 2px solid var(--light-green);
	padding: var(--btn-pad);
	border-radius: var(--radius-button);
	font-size: var(--font-m);
}

div.btn-report a:hover{
	color: var(--white);
	border: 2px solid var(--purple-light);
	background-color: var(--purple-light);
	transition: var(--transitionFast);
}

header .register-logo a:nth-child(1):hover,
.first-content .main-text-and-buttons .register-and-know-more a:hover,
.first-content .main-text-and-buttons .register-and-know-more a:nth-child(2):hover{
	background-color: var(--white);
	color: var(--purple-dark);
	border: 2px solid var(--white);
}

.register-form #rdstation-bricks-embeddable-form-bricks-component-_2y3auLmQM-mM6cUWILtZw .bricks--column button:hover{
	background-color: var(--white);
	border: 2px solid var(--white);
	color: var(--light-green);
}

header .register-logo img{
	height: 40px;
	display: inline-block;
	width: auto;
	margin-top: 4px;
}

header .container{
	overflow: hidden;
	position: relative;
}

header nav a{
	text-decoration: var(--purple-light);
	color: var(--white);
	text-transform: uppercase;
	font-family: var(--dinn-medium);
	transition: var(--transitionFast);
	display: inline-block;
	margin-right: var(--space-p);
}

header nav a.active,
header nav a:hover,
footer .links nav a:hover{
	color: var(--light-green);
}

/* END */

main{
	overflow-x: hidden;
}

.first-content{
	background-image: url(../assets/imagem-primeira-dobra.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: calc(100vh - 103px);
}

.first-content .container{
	position: relative;
	height: 100%;
}

.first-content .opacity{
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	position: relative;
}

.first-content .main-text-and-buttons{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
	max-width: 450px;
	left: 0px;
}

.first-content .main-text-and-buttons h1{
	font-size: var(--font-xx);
	font-family: var(--dinn-regular);
	color: var(--white);
	line-height: var(--min-lh);
}

.first-content .main-text-and-buttons h1 strong{
	font-family: var(--dinn-bold);
	display: block;
}

.first-content .main-text-and-buttons .register-and-know-more{
	margin-top: var(--space-m);
}

.first-content .main-text-and-buttons .register-and-know-more a{
	display: inline-block;
	text-decoration: none;
	transition: var(--transitionFast);
	background-color: var(--light-green);
	border-radius: var(--radius-button);
	padding: var(--btn-pad);
	font-size: var(--font-m);
	font-family: var(--dinn-medium);
	text-align: center;
	color: var(--white);
	border: 2px solid var(--light-green);
}

.first-content .main-text-and-buttons .register-and-know-more a:nth-child(2){
	border: 2px solid var(--white);
	background-color: transparent;
	margin-left: var(--space-p);
}

.arrow-down{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
	bottom: 40px;
	background-image: url(../assets/seta-para-baixo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 24px;
	height: 15px;
}

.arrow-down a{
	cursor: pointer;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.secondary-content-text{
	background-color: var(--light-green);
	padding: var(--space-xx) 0px;
}

.secondary-content-text h2{
	line-height: var(--min-lh);
	font-family: var(--dinn-regular);
	font-size: var(--font-x);
	color: var(--white);
	text-align: center;
}

.secondary-content-text h2 strong{
	font-family: var(--dinn-bold);
}

.help-programs {
	padding: var(--space-x) 0px;
	background-color: var(--white);
}

.help-programs h2{
	font-size: var(--font-xx);
	font-family: var(--dinn-regular);
	line-height: var(--medium-lh);
	color: var(--purple-dark);
	margin-bottom: var(--space-x);
}
.help-programs h2 strong{
	font-family: var(--dinn-bold);
}

.content-wrapper{
	overflow: hidden;
}

.help-programs .content-wrapper:nth-child(2){
	margin-bottom: var(--space-x);
}

.help-programs .content-wrapper:nth-child(1) img{
	width: 100%;
	height: auto;
}

.float-left-content{
	float: left;
	width: calc(50% - 20px);
}

.float-right-content{
	float: right;
	width: calc(50% - 20px);
}

.float-post-content{
	display: none;
	width: 100%;
	float: right;
}

.help-programs img{
	display: block;
	padding-right: var(--space-p);
	float: left;
	height: 70px;
	width: auto;
}

.help-programs .title{
	overflow: hidden;
	margin-bottom: var(--space-m);
}

.help-programs h4, .help-programs p{
	line-height: var(--medium-lh);
	color: var(--purple-dark);
	margin-bottom: var(--space-text);
	font-family: var(--dinn-medium);
	font-size: var(--font-m);
}

.help-programs p{
	font-family: var(--dinn-light);
}

.help-programs p:last-child{
	margin-bottom: 0px;
}

.help-programs a{
	font-family: var(--dinn-bold);
	font-size: var(--font-p);
	transition: var(--transitionFast);
	color: var(--light-green);
}

.help-programs a:hover{
	color: var(--purple-dark);
}

.help-programs .title h3{
	float: left;
	padding-left: var(--space-p);
	line-height: var(--medium-lh);
	border-left: 3px solid #91C349;
	color: var(--purple-dark);
	font-size: var(--font-x);
	max-width: 240px;
	font-family: var(--dinn-bold);
}

.photo-section{
	height: 400px;
	overflow: hidden;
	position: relative;
}

.photo-section .background-secondary{
	background-image: url(../assets/imagem-secundaria.png);
	background-repeat: repeat-y;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
	/*background-attachment: fixed;*/
    width: 100%;
    height: 400px;
    z-index: -1;
}

.clean-energy{
	padding: var(--space-x) 0px;
	background-color: var(--light-pink);
	background-color: var(--orange-light);
}

.clean-energy h2{
	font-family: var(--dinn-regular);
	line-height: var(--min-lh);
	color: var(--purple-dark);
	margin-bottom: var(--space-x);
	font-size: var(--font-xx);
}

.clean-energy h2 strong{
	font-family: var(--dinn-bold);
}

.clean-energy .item:not(:last-of-type){
	margin-bottom: var(--space-x);
}


.clean-energy .content .item{
	overflow: hidden;
}

.clean-energy .content img,
.clean-energy .content .text{
	float: left;
}

.clean-energy .content .text{
	height: 100%;
	width: calc(100% - 120px);
	position: relative;
}

.clean-energy .content img{
	width: 120px;
	height: auto;
}

.clean-energy .content .text h3{
	font-family: var(--dinn-bold);
	color: var(--purple-dark);
}

.clean-energy .pilar-wrapper{
	width: 13px;
	height: 100%;
	margin-left: var(--space-m);
	position: absolute;
}

.clean-energy .pilar-wrapper:nth-child(1){
	background-color: var(--yellow);
	height: 50%;
	top: 0px;
	border-radius: 5px 5px 0px 0px;
}

.clean-energy .item:nth-child(2) .pilar-wrapper:nth-child(1){
	height: 60%;
}

.clean-energy .item:nth-child(2) .pilar-wrapper:nth-child(2){
	height: 40%;
}

.clean-energy .item:nth-child(1) .pilar-wrapper:nth-child(1){
	height: 35%;
}

.clean-energy .item:nth-child(1) .pilar-wrapper:nth-child(2){
	height: 65%;
}

.clean-energy .item:nth-child(3) .pilar-wrapper:nth-child(1){
	height: 45%;
}

.clean-energy .item:nth-child(3) .pilar-wrapper:nth-child(2){
	height: 55%;
}

.clean-energy .pilar-wrapper:nth-child(2){
	background-color: var(--light-green);
	bottom: 0px;
	border-radius: 0px 0px 5px 5px;
}

.clean-energy .content .text-content{
	padding-left: var(--space-x);
}

.clean-energy .content .text-content h3{
	font-family: var(--dinn-bold);
	font-size: var(--font-g);
	color: var(--purple-dark);
	line-height: var(--min-lh);
}

.clean-energy .content .text-content p{
	font-family: var(--dinn-light);
	font-size: var(--font-m);
	color: var(--purple-dark);
	line-height: var(--min-lh);
}

.clean-energy .content .text-content-part:first-of-type{
	margin-bottom: var(--space-m);
}

.ods{
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

p.ods-paragraph{
  padding-top: 15px;
}

.bioparques{
	padding: var(--space-x) 0px;
	background-color: var(--white);
}

.bioparques h2{
	font-family: var(--dinn-regular);
	font-size: var(--font-xx);
	color: var(--purple-dark);
	margin-bottom: var(--space-text);
	line-height: var(--medium-lh);
}


.bioparques .content-wrapper:nth-child(2) h2{
	font-size: var(--font-xx);
	font-family: var(--dinn-regular);
}

.bioparques .content-wrapper:nth-child(2) h2 strong,
.bioparques h2 strong{
	font-family: var(--dinn-bold);
}

.bioparques .content-wrapper:nth-child(1) .float-left-content img{
	width: auto;
	height: 474px;
}

.bioparques .content-wrapper:nth-child(2) .float-right-content img{
	width: auto;
	height: 500px;
}

.bioparques .content-wrapper:nth-child(1) .float-left-content,
.bioparques .content-wrapper:nth-child(2) .float-right-content{
	width: calc(45% - 20px);
}

.bioparques .content-wrapper:nth-child(1) .float-right-content,
.bioparques .content-wrapper:nth-child(2) .float-left-content{
	width: calc(55% - 20px);
}

.bioparques .content-wrapper{
	position: relative;
	height: 100%;
	overflow: hidden;
}

.bioparques .content-wrapper:nth-child(1){
	padding: 88px 0px;
}

.bioparques .content-wrapper:nth-child(2) .float-left-content,
.bioparques .content-wrapper:nth-child(1) .float-right-content{
	position: absolute;
	top: 50%;
	height: max-content;
	transform: translate(0px, -48%);
}

.bioparques .content-wrapper:nth-child(1) .float-right-content{
	right: 0px;
}

.bioparques .content-wrapper:nth-child(2) .float-left-content{
	left: 0px;
}

.bioparques .content-wrapper:nth-child(1){
	margin-bottom: var(--space-m);
}

.bioparques p{
	font-family: var(--dinn-light);
	font-size: var(--font-m);
	color: var(--purple-dark);
	margin-bottom: var(--space-text);
	line-height: var(--min-lh);
}

.bioparques p strong{
	font-family: var(--dinn-bold);
}

.partners{
	padding: var(--space-x) 0px;
	background-color: var(--white);
}

.partners .columm{
	width: 100%; 
	overflow: hidden;
}

.partners .type{
	float: right;
	width: calc(50% - 20px);
}

.partners .video-wrapper{
	margin-bottom: var(--space-m);
	position: relative;
	padding-bottom: 27.2%;
	height: 0;
	overflow: hidden;
	border-radius: var(--radius-xp);
	float: left;
	width: calc(50% - 20px);
}

.partners h2{
	font-family: var(--dinn-regular);
	font-size: var(--font-xx);
	color: var(--purple-dark);
	margin-bottom: var(--space-text);
	line-height: var(--medium-lh);
}

.partners h2 strong{
	font-family: var(--dinn-bold);
}

.partners h3{
	font-family: var(--dinn-medium);
	font-size: var(--font-m);
	color: var(--purple-dark);
	margin-bottom: var(--space-p);
	display: block;
	padding-bottom: 3px;
}

.partners .partners-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: var(--space-p);
	margin-bottom: var(--space-m);
}

.partners .item{
	padding: var(--space-p);
	border-radius: var(--radius-xp);
	text-align: center;
	background-color: var(--grey);
	display: block;
	transition: var(--transitionFast);
	text-decoration: none;
}

.partners .item img{
	width: auto;
	height: 45px;
}

.partners .item:hover{
	background-color: rgba(145, 195, 73, 0.4)
}

.register-form{
	background-color: var(--purple-light);
	padding: var(--space-x) 0px 0px;
	background-image: url(../assets/drone-new.svg);
	background-position: right bottom;
	background-size: 770px auto;
	background-repeat: no-repeat;
}

form.float-left-content{
	padding-bottom: var(--space-x);
}

.register-form .container{
	/* background-image: url(../assets/drone-new.svg);
	background-position: right bottom;
	background-size: 580px auto; */
	position: relative;
	/* background-repeat: no-repeat;*/
}

#rd-form-lru4h0ch .bricks-form__field{
	margin-bottom: 20px!important;
}

.register-form h2{
	font-size: var(--font-xx);
	font-family: var(--dinn-regular);
	color: var(--white);
	line-height: var(--medium-lh);
	max-width: 800px;
	margin-bottom: var(--space-x);
}

.register-form h2:after{
	content: "";
	display: block;
	background-image: url(../assets/first-cloud.svg);
	background-position: center;
	position: absolute;
	top: -60px;
	right: 0px;
	background-size: 100%;
	display: block;
	height: 187px;
	width: 196px;
	background-repeat: no-repeat;
}

.register-form strong{
	font-family: var(--dinn-bold);
}

.register-form strong{
	font-family: var(--dinn-bold);
}

.register-form .content-wrapper{
	font-family: var(--dinn-bold);
}

.register-form .content-wrapper p{
	font-family: var(--dinn-light);
	line-height: var(--min-lh);
	color: var(--white);
	font-size: var(--font-m);
	margin-bottom: var(--space-text);
}

.register-form .content-wrapper h3,
.register-form #rd-form-lru4h0ch .bricks-form__label{
	font-family: var(--dinn-regular);
	line-height: var(--min-lh);
	color: var(--white);
	font-size: var(--font-m);
	margin-bottom: var(--space-text);
}

.register-form .content-wrapper h3{
	font-family: var(--dinn-bold);
}

/* FORM */

.register-form #rd-column-lru4h0cg > div{
	background-color: var(--purple-light);
}

.register-form #rd-form-lru4h0ch .bricks-form__label{
	margin-bottom: 5px
}

.register-form #rdstation-bricks-embeddable-form-bricks-component-26hwWS8fqklGVZ309fSH3A .bricks-form__fieldset{
	gap: 10px;
}

.register-form #rd-form-lru4h0ch .bricks-form__input{
	border-radius: var(--radius-xp);
	border: 2px solid var(--white);
	font-family: var(--dinn-light);
	font-size: var(--font-p);
	width: 100%;
	background-color: transparent;
	color: var(--white);
	height: 50px;
	box-shadow: none;
	-webkit-appearance: none;
    -moz-appearance: none;
	cursor: pointer;
    appearance: none;
	padding: 10px;
	outline: none;
	transition: var(--transitionFast);
}

.register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(1) .bricks-form__input,
.register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(4) .bricks-form__input{
    background-image: url(../assets/seta-para-baixo-form.svg);
    background-repeat: no-repeat;
    background-size: 17px 10px;
    background-position: calc(100% - 10px) center;
	transition: opacity 0.5s ease;
}

.register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(1) .bricks-form__input:focus,
.register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(4) .bricks-form__input:focus{
    background-image: url(../assets/seta-para-cima-form.svg);
	opacity: 0.5;
}

.register-form #rd-form-lru4h0ch .bricks-form__input span{
	position: absolute !important;
	left: 0px !important;
}

.register-form #rd-form-lru4h0ch .bricks-form__input::placeholder{
	color: var(--white) !important;
	opacity: 80%;
}

.register-form #rd-form-lru4h0ch .bricks-form__input option{
	background-color: var(--white);
	color: var(--purple-dark);
}

.register-form .select2-drop{
	margin-top: 1px;
}

.register-form #rd-form-lru4h0ch .with-select-flags > .phone-input-group > .select2-container > .select2-choice > .select2-chosen{
	padding: 5px 0px;
}

.register-form #rd-form-lru4h0ch .select2-container .select2-choice .select2-arrow b{
	background-position: 0 11px !important;
}

.register-form #rd-form-lru4h0ch .select2-container .select2-choice{
	height: 50px !important;
}

.register-form #rd-column-lru4h0cg > div{
	padding: 0px;
}

.register-form #rd-form-lru4h0ch .bricks-form__input::placeholder{
	opacity: 60%;
}

.register-form #rdstation-bricks-embeddable-form-bricks-component-_2y3auLmQM-mM6cUWILtZw .bricks--column button{
	display: inline-block;
    text-decoration: none;
	width: 100%;
	min-width: 0px;
    padding: var(--btn-pad);
    font-family: var(--dinn-medium);
    font-size: var(--font-m);
    transition: var(--transitionFast);
    border-radius: var(--radius-button);
    border: 2px solid var(--light-green);
    color:var(--white);
	line-height: 1.5px;
	height: 48px;
	font-weight: inherit;
    background-color: var(--light-green);
	transition: 1s ease;
}

.register-form #rd-form-lru4h0ch .bricks-form__fieldset{
	justify-content: space-between;
}

.register-form #rd-form-lru4h0ch .bricks-form__input#rd-text_area_field-lru4i9sy{
	height: 90px
}

.register-form #rd-form-lru4h0ch .bricks-form__fieldset{
	flex-wrap: wrap;
	flex-flow: wrap;
}

.register-form #rd-form-lru4h0ch .bricks-form__submit{
	flex-flow: row-reverse;
	display: block!important;
}

.register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(2),
.register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(3),
.register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(4),
.register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(5){
	flex-basis: 49%;
	flex-grow: inherit;
	box-sizing: border-box;
}

.location{
	padding: var(--space-x) 0px;
	background-color: var(--white);
}

.location h2, .location h3{
	font-family: var(--dinn-regular);
	font-size: var(--font-xx);
	color: var(--purple-dark);
	margin-bottom: var(--space-m);
	line-height: var(--min-lh);
}

.location h2{
	margin-bottom: var(--space-text);
}

.location h2 strong{
	font-family: var(--dinn-bold);
}

.location h3{
	font-size: var(--font-m);
	font-family: var(--dinn-light);
}

.location iframe{
	width: 100%;
	height: 540px;
	position: relative;
	border-radius:var(--font-xp)
}

footer{
	background-color: var(--purple-dark);
	padding: var(--space-m) 0px;
}

footer .grid-content{
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 0.5fr;
}

footer .links nav{
	margin-bottom: var(--space-x);
}

footer .links nav a{
	font-size: var(--font-p);
	font-family: var(--dinn-medium);
	text-transform: uppercase;
	color: var(--white);
	text-decoration-color: var(--purple-dark);
	transition: var(--transitionFast);
}

footer .links nav a:not(:last-of-type){
	margin-right: 10px;
}

footer .links nav+h4{
	font-size: var(--font-m);
	font-family: var(--dinn-light);
	color: var(--white);
	margin-bottom: var(--space-p);
}

footer .socials a{
	display: inline-block;
	width: 16px;
	height: 17px;
	transition: var(--transitionFast);
	margin-right: var(--space-p);
	background-position: left bottom;
	background-size: 100%;
	background-repeat: no-repeat;
}

footer .socials a:nth-child(1){
	background-image: url(../assets/tt-icon.svg);
}

footer .socials a:nth-child(1):hover{
	background-image: url(../assets/tt-green-icon.svg);
}

footer .socials a:nth-child(2){
	background-image: url(../assets/facebook-icon.svg);
	background-size: 9px;

}

footer .socials a:nth-child(2):hover{
	background-image: url(../assets/facebook-green-icon.svg);
}

footer .socials a:nth-child(3){
	background-image: url(../assets/insta-icon.svg);
}

footer .socials a:nth-child(3):hover{
	background-image: url(../assets/insta-green-icon.svg);
}

footer .socials a:nth-child(4){
	background-image: url(../assets/linkedin-icon.svg);
}

footer .socials a:nth-child(4):hover{
	background-image: url(../assets/linkedin-green-icon.svg);
}

footer .socials a:nth-child(5){
	background-image: url(../assets/yt-icon.svg);
	margin-top: -2px;
}

footer .socials a:nth-child(5):hover{
	background-image: url(../assets/yt-green-icon.svg);
}

footer .help-center h3{
	font-family: var(--dinn-medium);
	font-size: var(--font-m);
	color: var(--white);
	margin-bottom: var(--space-p);
}

footer .contact,
footer .help-center{
	justify-self: center;
}

footer .contact h3{
	font-family: var(--dinn-bold);
	font-size: var(--font-p);
	margin-bottom: var(--space-p);
	color: var(--white);
	text-transform: uppercase;
}

footer .contact p,
footer .help-center p,
footer .help-center a{
	text-decoration-color: var(--purple-dark);
	font-family: var(--dinn-light);
	font-size: var(--font-xp);
	transition: var(--transitionFast);
	color: var(--white);
	line-height: var(--medium-lh);
}

footer .help-center a:hover{
	text-decoration-color: var(--white);
}

footer .contact .field{
	margin-bottom: var(--space-p);
}

footer .logo a{
	display: block;
	text-decoration: none;
}

footer .logo img{
	height: 40px;
	width: auto;
}

footer .logo{
	justify-self: right;
}

.background-modal{
	position: absolute;
	z-index: -3;
	opacity: 0;
	transition: var(--transitionFast);
	top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.modalMobileActive .modalMenuMobile nav a{
	display: block;
	margin-bottom: var(--space-m);
	text-decoration: none;
	margin-top: var(--space-x);
	font-size: var(--font-g);
	text-transform: uppercase;
	transition: var(--transitionFast);
	color: var(--white);
	font-family: var(--dinn-medium);
}

footer .links.mobile{
	display: none;
}

.sucess{
	background-color: var(--purple-dark);
	position: relative;
	width: 100%;
	height: 100vh;
}

.sucess div{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 765px;
	padding-left: 255px;
	background-image: url(../assets/sucess.svg);
	background-position: 0% center;
	background-repeat: no-repeat;
	background-size: 202px auto;
}

.sucess div h2{
	font-size: 36px;
	font-family: var(--dinn-bold);
	color: var(--white);
	line-height: var(--min-lh);
	margin-bottom: 30px;
}

.sucess div p{
	font-size: 16px;
	font-family: var(--dinn-light);
	color: var(--white);
	line-height: var(--medium-lh);
	margin-bottom: 40px;
}

.sucess div a{
	display: block;
    text-decoration: none;
    padding: var(--btn-pad);
    font-family: var(--dinn-medium);
    font-size: 14px;
    transition: var(--transitionFast);
    border-radius: var(--radius-button);
    border: 1px solid var(--light-green);
    color: white;
	width: max-content;
    background-color: var(--light-green);
}

.sucess div a:hover{
	background-color: var(--white);
    color: var(--purple-dark);
    border: 1px solid var(--white);
}
#rd-form-lru4h0ch label.error {
	padding:10px 0 0 0 !important;
}
#rd-button-lru4h0eb{
	border: 2px solid var(--light-green)!important;
    color: white!important;
    background-color: var(--light-green)!important;
    border-radius: var(--radius-button)!important;
}
#rd-button-lru4h0eb:hover{
	background-color: var(--white)!important;
    color: var(--purple-dark)!important;
    border: 2px solid var(--white)!important;
}
.bricks-form__input.js-field-cf_sua_mensagem{
	height: 100px!important;
}

@media (max-width: 1224px){
	.register-form{
		background-size: 550px auto;
	}
}

@media (max-width: 1024px){

	.first-content .main-text-and-buttons h1{
		margin: 0px auto;
		max-width: 300px; 
	}
	.partners .type,
	.partners .video-wrapper{
		width: 100%;
	}

	.partners .video-wrapper{
		padding-bottom: 56.25%;
	}

	.float-post-content{
		margin-top: 20px;
		display: block;
	}
	#jornada-cultivar .float-left-content{
		display: none;
	}
	.sucess div{
		width: 100%;
		padding: 200px 20px 0px;
		background-position: center 0%;
		background-size: auto 140px;
		text-align: center;
	}

	.location iframe{
		border-radius: 0;
	}
	.sucess div h2{
		max-width: 280px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.sucess div a{
		text-align: center;
		width: 100%;
		padding: 18px 0px;
    	height: 56px;
		font-size: 18px;
	}

	.float-left-content,
	.float-right-content{
		float: none;
		width: 100%;
	}

	.first-content{
		background-image: url(../assets/imagem-principal-mobile.png);
		padding-top: 90px;
		height: calc(100vh - 65px);
		background-repeat: no-repeat;
		background-size:cover;
	}

	.first-content .main-text-and-buttons{
		bottom: 50px;
		top: inherit;
		padding: 0px 20px;
		text-align: center;
		left: inherit;
		transform: none;
		max-width: 100%;
		width: 100%;
	}

	.secondary-content-text,
	.help-programs{
		padding: var(--space-m) 20px;
	}

	.arrow-down{
		bottom: 23px;
	}

	.first-content .main-text-and-buttons .register-and-know-more a:nth-child(2){
		border: none;
		margin-left: 0px;
		font-size: 18px;
		padding: 0;
	}

	header{
		padding: 20px;
	}

	header.menuStatic,
	header.menuFloated nav,
	header.menuFloated .desk-version,
	.bioparques .content-wrapper:nth-child(2) .float-right-content{
		display: none;
	}

	.first-content .main-text-and-buttons .register-and-know-more a:nth-child(1){
		position: fixed;
		bottom: 0px;
		background-color: var(--light-green);
		border: none;
		border-radius: 0px;
		z-index: 2;
		width: 100%;
		font-size: 18px;
		right: 0px;
		padding: 25px;
	}

	.modalMobileActive .first-content .main-text-and-buttons .register-and-know-more a:nth-child(1){
		opacity: 0%;
	}

	header.menuFloated{
		top: 0px;
		z-index: 3;
	}

	header.menuFloated .mobile-version{
		display: block;
		overflow: hidden;
	}

	header.menuFloated .mobile-version a{
		display: block;
		float: right;
		margin-top: 8px;
	}

	header.menuFloated nav{
		display: none;
	}

	header .hamb-background {
		position: relative;
		top: 0px;
		margin-top: 0px;
		float: left;
	}

	.modalMobileActive .modalMenuMobile{
		height: 100vh;
		background-color: var(--purple-light);
		z-index: 4;
		top: 90px;
		padding: 20px;
	}

	.modalMobileActive header.menuFloated,
	.modalMobileActive .modalMenuMobile{
		width: 70%;
	}

	.modalMobileActive .background-modal{
		height: 100vh;
		width: 100%;
		background-color: #00000eee;
    	position: fixed;
		opacity: 100%;
    	z-index: 3;
	}

	footer .grid-content{
		grid-template-columns: 1fr;
	}

	.help-programs .title{
		margin-bottom: var(--space-p);
	}

	.help-programs .content-wrapper:nth-child(2) .float-right-content{
		margin-top: var(--space-p);
	}

	.help-programs .content-wrapper:nth-child(3) .float-left-content{
		margin-bottom: var(--space-p);
	}

	.help-programs .content-wrapper:nth-child(2){
		margin-bottom: 15px;
	}

	.help-programs .title h3{
		padding-left: 10px;
	}

	.help-programs img{
		padding-right: 10px;
	}

	.help-programs .title h3{
		max-width: 200px;
	}

	.photo-section .background-secondary{
		background-image: url(../assets/imagem-secundaria-mobile.png);
		background-size: 100% auto;
		width: 100%;
		/* height: 640px; */
		background-repeat: no-repeat;
		background-size: cover;
	}

	.clean-energy{
		padding: var(--space-m) 20px;
	}

	.clean-energy .content img, .clean-energy .content .text{
		float: none;
		width: 100%;
	}

	.clean-energy .content img{
		height: 51px;
		width: auto;
		margin-bottom: 20px;
	}

	.clean-energy .pilar-wrapper{
		margin-left: 0px;
	}

	.clean-energy .content .text-content{
		padding-left: 25px;
	}

	.clean-energy .content .text-content h3{
		font-size: var(--font-x);
		margin-bottom: 5px;
	}

	.clean-energy .content .text-content p{
		font-size: 16px;
	}

	.ods{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		/* width: 280px */
	}
	.ods img{
		height: 80px !important;
	}

	.location{
		padding: var(--space-m) 0px 0px;
	}

	.location h2, .location h3{
		padding: 0px 20px;
		margin-bottom: 20px;
	}

	.bioparques .content-wrapper:nth-child(2) .float-left-content, .bioparques .content-wrapper:nth-child(1) .float-right-content{
		position: relative;
		transform: none;
		top: inherit;
		width: 100%;
	}

	.bioparques .content-wrapper:nth-child(1) .float-left-content, .bioparques .content-wrapper:nth-child(2) .float-right-content{
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.bioparques .content-wrapper:nth-child(1){
		padding: 0;
	}

	.bioparques{
		padding: var(--space-m) 20px 0px;
	}

	.bioparques p{
		font-size: 16px;
	}

	.partners{
		padding: var(--space-m) 20px 0px;
		overflow: hidden;
	}

	.partners h2{
		font-size: 24px;
	}

	.partners .partners-grid{
		grid-template-columns: 1fr 1fr;
	}

	.partners h3{
		font-size: 16px;
		padding-bottom: 10px;
	}

	.register-form{
		padding: var(--space-m) 20px 20px;
		background-image: none;
	}

	.register-form h2:after{
		display: none;
	}

	.register-form .container{
		background-image: none;
	}

	.first-content .main-text-and-buttons .register-and-know-more a:nth-child(1).fade-out{
		bottom: -10%;
		opacity: 0%;
	}

	footer{
		padding: var(--space-m) 20px;
	}

	footer .links nav{
		display: none;
	}

	footer .grid-content{
		grid-template-columns: 1fr;
	}

	footer .grid-content .links,
	footer .logo
	{
		justify-self: center;
	}

	footer .logo
	{
		margin-top: 20px;
	}

	footer .contact h3,
	footer .help-center h3,
	footer .links nav+h4{
		margin-bottom: 10px;
		text-align: center;
	}

	footer .links{
		margin-top: 20px;
	}

	footer .contact p{
		display: inline-block;
	}

	footer .contact .field{
		text-align: center;
		margin-bottom: 0px;
	}

	footer .contact{
		margin-top: 20px;
	}

	footer .socials a:nth-child(5){
		margin-right: 0px;
	}

	footer .help-center{
		text-align: center;
	}

	.links.desk{
		display: none;
	}

	footer .links.mobile{
		display: block;
	}

	header .register-logo{
		max-width: none;
	}

	.register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(2), .register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(3), .register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(4), .register-form #rd-form-lru4h0ch .bricks-form__fieldset .bricks-form__field:nth-child(5){
		flex-basis: 100%
	}

	.register-form #rdstation-bricks-embeddable-form-bricks-component-_2y3auLmQM-mM6cUWILtZw .bricks--column button{
		width: calc(100% + 10px);
	    height: 56px;
	    font-size: 18px;
	    line-height: 0px;
	    padding: 16px 0px;
	    min-width: 100%;
	    display: block;
	    margin-left: -5px;
	}

	.register-form h2{
		margin-bottom: 20px;
	}

	.register-form .content-wrapper p:nth-child(2){
		margin-bottom: 40px;
	}

	.register-form #rdstation-bricks-embeddable-form-bricks-component-xuxoxtr_wrzYL4cB6-5ltA section{
		background-color: transparent;
	}

	.location iframe{
		height: 525px;
	}

	.partners .partners-grid{
		gap: 20px;
	}
}
@media(max-width:280px){
	.ods{
		display: grid;
		grid-template-columns: 1fr 1fr;
		/* width: 280px */
	}
	.ods img{
		height: 80px !important;
	}
}

@media(min-width:1025px){
	.register-form #rdstation-bricks-embeddable-form-bricks-component-_2y3auLmQM-mM6cUWILtZw .bricks--column button{
		min-width: calc(100% + 10px);
	    margin-left: -5px;
	    display: block;
	}
}